.navbar {
  transition: 500ms ease;
  background: transparent;
}

.navbar.scrolled {
  background-color: #FFF;
}
.nav-item {
  font-size: 1.1rem;
  padding-right: 20px;
}

@media (min-width: 360px) {
  .nav-item {
    text-align: center;
 }
}

.nav-link {
  color: #041E42 !important;
}


.jumbotron-fluid {
  background: url('http://via.placeholder.com/1500x650');
  background-size: cover;
  min-height: 650px;
}

.card {
  border: none;
}

.about {
  background-color: #041E42;
}
